status.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Status">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Audio">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Input">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Connectors">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Microphone" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="EcReferenceDelay"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="item" use="optional"/>
                              <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="LocalInput" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="AGC"/>
                          <xs:element type="xs:byte" name="Channels"/>
                          <xs:element name="Connector" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="item" use="optional"/>
                                  <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="MixerMode"/>
                          <xs:element type="xs:string" name="Mute"/>
                          <xs:element type="xs:string" name="Name"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item" use="optional"/>
                        <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RemoteInput">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="CallId"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item"/>
                        <xs:attribute type="xs:string" name="maxOccurrence"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Microphones">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Mute"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Output">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LocalOutput" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="Channels"/>
                          <xs:element name="Connector" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="item" use="optional"/>
                                  <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Input" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="Gain"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="item" use="optional"/>
                              <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Loudspeaker"/>
                          <xs:element type="xs:string" name="Name"/>
                          <xs:element type="xs:string" name="VolumeControlled"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item" use="optional"/>
                        <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RemoteOutput">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="CallId"/>
                          <xs:element name="Input" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="Gain"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="item" use="optional"/>
                              <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item"/>
                        <xs:attribute type="xs:string" name="maxOccurrence"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="Volume"/>
              <xs:element type="xs:string" name="VolumeMute"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Call">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="AnswerState"/>
              <xs:element type="xs:string" name="CallType"/>
              <xs:element type="xs:string" name="CallbackNumber"/>
              <xs:element type="xs:string" name="DeviceType"/>
              <xs:element type="xs:string" name="Direction"/>
              <xs:element type="xs:string" name="DisplayName"/>
              <xs:element type="xs:short" name="Duration"/>
              <xs:element name="Encryption">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Type"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="FacilityServiceId"/>
              <xs:element type="xs:string" name="HoldReason"/>
              <xs:element type="xs:string" name="PlacedOnHold"/>
              <xs:element type="xs:string" name="Protocol"/>
              <xs:element type="xs:short" name="ReceiveCallRate"/>
              <xs:element type="xs:string" name="RemoteNumber"/>
              <xs:element type="xs:string" name="Status"/>
              <xs:element type="xs:short" name="TransmitCallRate"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="item"/>
            <xs:attribute type="xs:string" name="maxOccurrence"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="CallDiagnostics" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="item" use="optional"/>
                <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Cameras">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Camera" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Capabilities">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Options"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Connected"/>
                    <xs:element type="xs:string" name="Flip" minOccurs="0"/>
                    <xs:element type="xs:string" name="MacAddress"/>
                    <xs:element type="xs:string" name="Manufacturer"/>
                    <xs:element type="xs:string" name="Model"/>
                    <xs:element type="xs:string" name="SerialNumber"/>
                    <xs:element type="xs:string" name="SoftwareID"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="item" use="optional"/>
                  <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="SpeakerTrack">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Availability"/>
                    <xs:element name="LeftCamera">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="VideoInputConnector"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RightCamera">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="VideoInputConnector"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Status"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Capabilities">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Conference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="MaxActiveCalls"/>
                    <xs:element type="xs:byte" name="MaxAudioCalls"/>
                    <xs:element type="xs:byte" name="MaxCalls"/>
                    <xs:element type="xs:byte" name="MaxVideoCalls"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Conference">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ActiveSpeaker">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="CallId"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Call">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="BookingId"/>
                    <xs:element name="Capabilities">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FECC">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Mode"/>
                                <xs:element type="xs:byte" name="NumberOfPresets"/>
                                <xs:element type="xs:byte" name="NumberOfSources"/>
                                <xs:element name="Source">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Name"/>
                                      <xs:element type="xs:string" name="Options"/>
                                      <xs:element type="xs:byte" name="SourceId"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="item"/>
                                    <xs:attribute type="xs:string" name="maxOccurrence"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="FarendMessage">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Mode"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Hold"/>
                          <xs:element name="IxChannel">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Status"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Presentation"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Manufacturer"/>
                    <xs:element type="xs:string" name="MicrophonesMuted"/>
                    <xs:element type="xs:string" name="SoftwareID"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="item"/>
                  <xs:attribute type="xs:string" name="maxOccurrence"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="DoNotDisturb"/>
              <xs:element name="Line">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Mode"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="item"/>
                  <xs:attribute type="xs:string" name="maxOccurrence"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Multipoint">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Mode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Presentation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="CallId"/>
                    <xs:element type="xs:string" name="Mode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SpeakerLock">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="CallId"/>
                    <xs:element type="xs:string" name="Mode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="GPIO">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Pin" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="State"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="item" use="optional"/>
                  <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="H323">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Gatekeeper">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Address"/>
                    <xs:element type="xs:byte" name="Port"/>
                    <xs:element type="xs:string" name="Reason"/>
                    <xs:element type="xs:string" name="Status"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Mode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Reason"/>
                    <xs:element type="xs:string" name="Status"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HttpFeedback" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Expression" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="item" use="optional"/>
                      <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="URL"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="item" use="optional"/>
            <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Network">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CDP">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Address"/>
                    <xs:element type="xs:string" name="Capabilities"/>
                    <xs:element type="xs:string" name="DeviceId"/>
                    <xs:element type="xs:string" name="Duplex"/>
                    <xs:element type="xs:string" name="Platform"/>
                    <xs:element type="xs:string" name="PortID"/>
                    <xs:element type="xs:string" name="PrimaryMgmtAddress"/>
                    <xs:element type="xs:string" name="SysName"/>
                    <xs:element type="xs:string" name="SysObjectID"/>
                    <xs:element type="xs:string" name="VTPMgmtDomain"/>
                    <xs:element type="xs:string" name="Version"/>
                    <xs:element type="xs:string" name="VoIPApplianceVlanID"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DNS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Domain">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Server" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Address"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item" use="optional"/>
                        <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Ethernet">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="MacAddress"/>
                    <xs:element type="xs:string" name="Speed"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="IPv4">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Address"/>
                    <xs:element type="xs:string" name="Gateway"/>
                    <xs:element type="xs:string" name="SubnetMask"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="IPv6">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Address"/>
                    <xs:element type="xs:string" name="Gateway"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="VLAN">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Voice">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="VlanId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="item"/>
            <xs:attribute type="xs:string" name="maxOccurrence"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="NetworkServices">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NTP">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CurrentAddress"/>
                    <xs:element name="Server">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Address"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item"/>
                        <xs:attribute type="xs:string" name="maxOccurrence"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Status"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Peripherals">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ConnectedDevice" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="HardwareInfo"/>
                    <xs:element type="xs:string" name="ID"/>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element type="xs:string" name="SoftwareInfo"/>
                    <xs:element type="xs:string" name="Status"/>
                    <xs:element type="xs:string" name="Type"/>
                    <xs:element type="xs:string" name="UpgradeStatus"/>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="item" use="optional"/>
                  <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Provisioning">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Software">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Current">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="CompletedAt"/>
                          <xs:element type="xs:anyURI" name="URL"/>
                          <xs:element type="xs:string" name="VersionId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="UpgradeStatus">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:dateTime" name="LastChange"/>
                          <xs:element type="xs:string" name="Message"/>
                          <xs:element type="xs:string" name="Phase"/>
                          <xs:element type="xs:string" name="SessionId"/>
                          <xs:element type="xs:string" name="Status"/>
                          <xs:element type="xs:string" name="URL"/>
                          <xs:element type="xs:string" name="VersionId"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Status"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Proximity">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Services">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Availability"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SIP">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AlternateURI">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Primary">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="URI"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Authentication"/>
              <xs:element name="CallForward">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="DisplayName"/>
                    <xs:element type="xs:string" name="Mode"/>
                    <xs:element type="xs:string" name="URI"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Mailbox">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="MessagesWaiting"/>
                    <xs:element type="xs:string" name="URI"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Proxy">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Address"/>
                    <xs:element type="xs:string" name="Status"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="item"/>
                  <xs:attribute type="xs:string" name="maxOccurrence"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Registration">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Reason"/>
                    <xs:element type="xs:string" name="Status"/>
                    <xs:element type="xs:string" name="URI"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="item"/>
                  <xs:attribute type="xs:string" name="maxOccurrence"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Secure"/>
              <xs:element type="xs:string" name="Verified"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Security">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FIPS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Mode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Persistency">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CallHistory"/>
                    <xs:element type="xs:string" name="Configurations"/>
                    <xs:element type="xs:string" name="DHCP"/>
                    <xs:element type="xs:string" name="InternalLogging"/>
                    <xs:element type="xs:string" name="LocalPhonebook"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Standby">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="State"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SystemUnit">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Hardware">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Module">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="SerialNumber"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Monitoring">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Fan" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Status"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="item" use="optional"/>
                              <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:float" name="Temperature"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="ProductId"/>
              <xs:element type="xs:string" name="ProductPlatform"/>
              <xs:element type="xs:string" name="ProductType"/>
              <xs:element name="Software">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Name"/>
                    <xs:element name="OptionKeys">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Encryption"/>
                          <xs:element type="xs:string" name="MultiSite"/>
                          <xs:element type="xs:string" name="PremiumResolution"/>
                          <xs:element type="xs:string" name="RemoteMonitoring"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:date" name="ReleaseDate"/>
                    <xs:element type="xs:string" name="Version"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Diagnostics">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LastRun">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:dateTime">
                            <xs:attribute type="xs:byte" name="item"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Message" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Description">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="item" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Level">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="item" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="References">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="item" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Type">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="item" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="item"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="State">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="NumberOfActiveCalls"/>
                    <xs:element type="xs:byte" name="NumberOfInProgressCalls"/>
                    <xs:element type="xs:byte" name="NumberOfSuspendedCalls"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:int" name="Uptime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Time">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="SystemTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="UserInterface">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ContactInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ContactMethod" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Number"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item" use="optional"/>
                        <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Video">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ActiveSpeaker">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="PIPPosition"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Input">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Connector" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Connected"/>
                          <xs:element type="xs:string" name="SignalState"/>
                          <xs:element type="xs:byte" name="SourceId"/>
                          <xs:element type="xs:string" name="Type"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item" use="optional"/>
                        <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:byte" name="MainVideoSource"/>
                    <xs:element name="Source" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="ConnectorId"/>
                          <xs:element type="xs:string" name="FormatStatus"/>
                          <xs:element type="xs:string" name="FormatType"/>
                          <xs:element type="xs:byte" name="MediaChannelId"/>
                          <xs:element name="Resolution">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="Height"/>
                                <xs:element type="xs:byte" name="RefreshRate"/>
                                <xs:element type="xs:short" name="Width"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item" use="optional"/>
                        <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Monitors"/>
              <xs:element name="Output">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Connector" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Connected"/>
                          <xs:element name="ConnectedDevice">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Name"/>
                                <xs:element type="xs:string" name="PreferredFormat"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="MonitorRole"/>
                          <xs:element name="Resolution">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="Height"/>
                                <xs:element type="xs:byte" name="RefreshRate"/>
                                <xs:element type="xs:short" name="Width"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Type"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="item" use="optional"/>
                        <xs:attribute type="xs:string" name="maxOccurrence" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Presentation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="PIPPosition"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Selfview">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="FullscreenMode"/>
                    <xs:element type="xs:string" name="Mode"/>
                    <xs:element type="xs:string" name="OnMonitorRole"/>
                    <xs:element type="xs:string" name="PIPPosition"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="product"/>
      <xs:attribute type="xs:string" name="version"/>
      <xs:attribute type="xs:byte" name="apiVersion"/>
    </xs:complexType>
  </xs:element>
</xs:schema>